# Clean Data

In [69]:
import pandas as pd             # data science essentials
import matplotlib.pyplot as plt # data visualization
import seaborn as sns           # more data visualization
import numpy as np

# reading in dataset
file ='WDIW Dataset.xlsx'
wdiw = pd.read_excel(io = file)
# wdiw.tail(n = 5)

In [70]:
wdiw_2 = wdiw.drop("Cool Name", axis = 1)

In [71]:
#Extract the world average data
wdiw_avg = wdiw_2.iloc[ 213, : ]
wdiw_avg = pd.DataFrame(wdiw_avg).T
# wdiw_avg = wdiw_avg.T
wdiw_avg

,Country Code,Country Name,Hult Region,Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)","Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Age dependency ratio, old (% of working-age population)","Age dependency ratio, young (% of working-age population)",...,Poverty headcount ratio at national poverty lines (% of population),"Prevalence of HIV, total (% of population ages 15-49)",Prevalence of undernourishment (% of population),"Prevalence of underweight, weight for age (% of children under 5)",Rural population (% of total population),"Services, value added (% of GDP)",Surface area (sq. km),Tax revenue (% of GDP),Urban population (% of total population),Urban population growth (annual %)
213,WLD,World,World,88.8486,78.6474,97.3577,42.4557,54.2168,13.216,39.6441,...,NaN,0.8,10.8,13.5,45.1778,65.0357,1.32037e+08,15.2043,54.8222,1.98514

In [72]:

# wdiw_12.info(verbose = True)

In [73]:
wdiw_12.head(n = 5)
wdiw_12.shape

(23, 66)

In [74]:
# wdiw_12.info()

In [75]:
# l_dont_want = [1,13,15,16,17,18,19,20,21,22,29,31,32,33,34,35,38,39,54,55,56,59]
# df[df.iloc[:, :].isin(l_dont_want) == False]

In [77]:
"""Taking out the coulumns from World that we do not want. Depending on  \
our region / Sub-Saharan African (have only less than 2 non-null in the columns)"""

world = wdiw_2.drop([wdiw_12.columns[13], wdiw_12.columns[15], wdiw_12.columns[16], \
                     wdiw_12.columns[17], wdiw_12.columns[18], wdiw_12.columns[19], \
                     wdiw_12.columns[20], wdiw_12.columns[21], wdiw_12.columns[22], \
                     wdiw_12.columns[29], wdiw_12.columns[31], wdiw_12.columns[32], \
                     wdiw_12.columns[33], wdiw_12.columns[34], wdiw_12.columns[35], \
                     wdiw_12.columns[38], wdiw_12.columns[39], wdiw_12.columns[54], \
                     wdiw_12.columns[55], wdiw_12.columns[56], wdiw_12.columns[59] ], axis = 1)
# ssa.iloc[:, 12:48]
# world.info()
world.head()

,Country Code,Country Name,Hult Region,Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)","Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Age dependency ratio, old (% of working-age population)","Age dependency ratio, young (% of working-age population)",...,"Population, male","Population, total","Prevalence of HIV, total (% of population ages 15-49)",Prevalence of undernourishment (% of population),Rural population (% of total population),"Services, value added (% of GDP)",Surface area (sq. km),Tax revenue (% of GDP),Urban population (% of total population),Urban population growth (annual %)
0,AFG,Afghanistan,Middle East & Russia,97.7,97.091973,99.5,68.957,86.000753,4.750925,81.249828,...,18652134.0,36296400.0,0.1,29.8,74.750,52.655431,652860.0,9.250468,25.250,3.463407
1,ALB,Albania,Eastern Europe,100.0,100.000000,100.0,19.642,45.682097,19.418064,26.264034,...,1464130.0,2873457.0,NaN,6.2,40.617,47.965907,28750.0,18.879748,59.383,1.541285
2,DZA,Algeria,Northern Sub-Saharan Africa,100.0,100.000000,100.0,10.071,55.804001,9.624334,46.179668,...,20906768.0,41389198.0,0.1,3.9,27.948,45.615016,2381740.0,NaN,72.052,2.871374
3,ASM,American Samoa,Australia & Oceania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,55620.0,NaN,NaN,12.830,NaN,200.0,NaN,87.170,-0.249256
4,AND,Andorra,Eastern Europe,100.0,100.000000,100.0,NaN,NaN,NaN,NaN,...,NaN,77001.0,NaN,NaN,11.850,79.285586,470.0,NaN,88.150,-0.495265

#  Data Process with correlation

In [78]:
carribean = world.iloc[9, 2]
world.iloc[9, 2]

"""There is a space at the end in 'Carribean Islands & Parts of Latin America '  
!!!!!"""

"There is a space at the end in 'Carribean Islands & Parts of Latin America '  \n!!!!!"

In [79]:
#Define the short name of each region

"""

WE           'Western Europe'
EE           'Eastern Europe'

CA           'Central Asia'

ESA          'East/Southeast Asia'
MER          'Middle East & Russia'

AP           'Arabian Peninsula'

NALA         'North America & Part of Latin America'
SA           'South America'
CILA         'Carribean Islands & Parts of Latin America' 

NSSA         'Northern Sub-Saharan Africa'
ssa          'Sub-Saharan Africa'
ESA          'East/South Africa'

AO           'Australia & Oceania'

"""
#  = world[world['Hult Region'] == '']

region = ['WE', 'EE', 'CA', 'ESA', 'MER', 'AP', 'NALA', 'SA', 'CILA', 'NSSA', 'ssa', 'ESA', 'AO']
reg = {'WE': 'Western Europe'      , 'EE': 'Eastern Europe'       , 'CA': 'Central Asia',\
       'ESA': 'East/Southeast Asia', 'MER': 'Middle East & Russia', 'AP': 'Arabian Peninsula',\
       'NALA': 'North America & Part of Latin America', 'SA': 'South America',\
       'CILA': 'Carribean Islands & Parts of Latin America',\
       'NSSA': 'Northern Sub-Saharan Africa', 'ssa': 'Sub-Saharan Africa', 'ESA': 'East/South Africa',\
       'AO': 'Australia & Oceania'}
# print(len(region))
# for s, f in reg :
#     s = world[world['Hult Region'] == 'f']

WE   = world[world['Hult Region'] == 'Western Europe']
EE   = world[world['Hult Region'] == 'Eastern Europe']

CA   = world[world['Hult Region'] == 'Central Asia']

ESA  = world[world['Hult Region'] == 'East/Southeast Asia']
MER  = world[world['Hult Region'] == 'Middle East & Russia']

AP   = world[world['Hult Region'] == 'Arabian Peninsula']

NALA = world[world['Hult Region'] == 'North America & Part of Latin America']
SA   = world[world['Hult Region'] == 'South America']
CILA = world[world['Hult Region'] == 'Carribean Islands & Parts of Latin America ']

NSSA = world[world['Hult Region'] == 'Northern Sub-Saharan Africa']
ssa  = world[world['Hult Region'] == 'Sub-Saharan Africa']
ESA  = world[world['Hult Region'] == 'East/South Africa']

AO   = world[world['Hult Region'] == 'Australia & Oceania']

In [68]:
print(  WE.shape,
        EE.shape,
        CA.shape,
        ESA.shape,
        MER.shape,
        AP.shape,
        NALA.shape,
        SA.shape,
        CILA.shape,
        NSSA.shape,
        ssa.shape,
        ESA.shape,
        AO.shape)

(22, 45) (22, 45) (13, 45) (21, 45) (14, 45) (15, 45) (11, 45) (13, 45) (19, 45) (10, 45) (23, 45) (21, 45) (19, 45)

In [80]:
# """Taking out the coulumns from Sub-Saharan Africa that we do not want (have only less than 2 non-null in the columns)"""
# ssa = world[world['Hult Region'] == 'Sub-Saharan Africa']
# # ssa = wdiw_12.drop([wdiw_12.columns[13], wdiw_12.columns[15], wdiw_12.columns[16], \
# #                     wdiw_12.columns[17], wdiw_12.columns[18], wdiw_12.columns[19], \
# #                     wdiw_12.columns[20], wdiw_12.columns[21], wdiw_12.columns[22], \
# #                     wdiw_12.columns[29], wdiw_12.columns[31], wdiw_12.columns[32], \
# #                     wdiw_12.columns[33], wdiw_12.columns[34], wdiw_12.columns[35], \
# #                     wdiw_12.columns[38], wdiw_12.columns[39], wdiw_12.columns[54], \
# #                     wdiw_12.columns[55], wdiw_12.columns[56], wdiw_12.columns[59] ], axis = 1)
# # ssa.iloc[:, 12:48]
# # ssa.info()
# ssa.shape

In [82]:
# wdiw_12.isnull()

In [85]:
na_count_1 = wdiw_12.isnull().sum().sum()
type(na_count_1)
print('Number of blanks in None cleaned data of Sub-Saharan Africa is ', na_count_1)
na_count_2 = world.isnull().sum().sum()
type(na_count_2)
print('Number of blanks in cleaned data of world ', na_count_2)
na_count_3 = ssa.isnull().sum().sum()
type(na_count_3)
print('Number of blanks in cleaned data of Sub-Saharan Africa ', na_count_3)

Number of blanks in None cleaned data of Sub-Saharan Africa is  512
Number of blanks in cleaned data of world  1161
Number of blanks in cleaned data of Sub-Saharan Africa  50